<div>
  <label>Enter the page</label>
  <input type="number" value="0" #cat_page>
  <button (click)="getCatInfo(cat_page.value)">Generate Cat Info</button>
  <button (click)="getCatImage()">Generate Cat Images</button>
    <div *ngFor="let cat_info of cat_array_info; let i = index">
      <h1 (click)="showMore(i)">{{cat_info.name}}</h1>
      <p *ngIf="i == index" style="max-width: 35%">{{cat_info.description}}</p>
    </div>
  <div id="cats">
    <img *ngFor="let cat_img of cat_array_img" src="{{cat_img.url}}" alt="Cat" width="150px" height="200px" style="margin: 2.5px">
  </div>
</div>
